<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Affiche article et commentaires</title>
</head>
<body>
    <h4><a th:href="@{/redact/index}">Accueil</a> </h4>
    <h4>Les commentaires non moderés</h4>

    <table width="90%">
        <tr><th>Numéro</th><th>Contenu</th><th>Public</th><th>Modéré</th><th>Date</th></tr>
        <tr th:each="a:${listecommentaires}">
            <td th:text="${a.idCommentaire}"></td>
            <td th:text="${a.contenu}"></td>
            <td th:text="${a._public}"></td>
            <td th:text="${a.modere}"></td>
            <td th:text="${#dates.format(a.date, 'dd-MM-yyyy')}"></td>
            <td><a th:href="@{/redact/affichecommentaire(idCommentaire=${a.idCommentaire})}">Afficher</a></td>
            <td><a th:href="@{/redact/editcommentaire(idCommentaire=${a.idCommentaire})}">Modifier son ? </a></td>
            <td><a th:href="@{/redact/supprimecommentaire(idCommentaire=${a.idCommentaire},idArticle=${a.getArticle().getIdArticle()})}">Supprimer son ? </a></td>
        </tr>
    </table>

</body>
</html>