<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="navbarCommentaires.html">>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>

    <title>Affiche article et commentaires</title>
</head>
<body class="p-3 mb-2 bg-secondary bg-gradient text-white">
<div layout:fragment="lecontenu">
<hr>
    <a class="h6 text-xl-start" th:href="@{/redact/index}">Retour aux publications</a>

    <div class="card bg-light text-dark">
        <div class="card-header h3 text-xxl-start" th:text="${article.getTitre()}"></div>
        <div class="card-body" th:text="${article.contenu}"></div>
        <div class="card-footer h6 text-xl-start" th:text="${'Article publié par '+compte.getPseudo()+' le '+#dates.format(article.getDate(),'dd-MM-yyyy')} "></div>

    </div>

    <hr>
    <h5  class="text-bg-secondary text-black">Commentaires
        <button type="button" class="btn btn-info"><a class="nav-link active" th:href="@{/redact/formcommentaire(idArticle=${article.getIdArticle()})}">Commenter</a></button></h5>

    <table class="table">
        <tr><th>Numéro</th><th>Contenu</th><th>Public</th><th>Modéré</th><th>Date</th></tr>
        <tr th:each="a:${listecommentaires}">
            <td th:text="${a.idCommentaire}"></td>
            <td th:text="${a.contenu}"></td>
            <td th:text="${a._public}"></td>
            <td th:text="${a.modere}"></td>
            <td th:text="${#dates.format(a.date, 'dd-MM-yyyy')}"></td>
            <td><button type="button" class="btn btn-dark"><a class="link-light" th:href="@{/redact/affichecommentaire(idCommentaire=${a.idCommentaire})}">Afficher</a></button></td>
            <td><button type="button" class="btn btn-info"><a class="link-dark" th:href="@{/redact/editcommentaire(idCommentaire=${a.idCommentaire})}">Modifier son ? </a></button></td>
            <td><button type="button" class="btn btn-danger"><a class="link-dark" th:href="@{/redact/supprimecommentaire(idCommentaire=${a.idCommentaire},idArticle=${a.getArticle().getIdArticle()})}">Supprimer son ? </a></button></td>
        </tr>
    </table>
    </div>
</body>
</html>