<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/webjars/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="/webjars/bootstrap-icons/1.10.5/font/bootstrap-icons.css">
    <script src="/webjars/bootstrap/5.2.3/js/bootstrap.bundle.min.js"></script>
    <script src="/webjars/jquery/3.6.4/jquery.min.js"></script>

    <title>ModeindexModerateur.htmlrateur index</title>
</head>
<body>
<h2>Accueil modérateur</h2>

    <h6><a th:href="@{/moder/listearticlesnonmodere}">Articles non moderés</a>
         - <a th:href="@{/moder/listecommentairesnonmodere}">Commentaires non moderés</a>
    </h6>


</body>
</html>